/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey; /* fondo azul claro */
}

/* estilos compartidos para ambos archivos */
.container {
    text-align: center;
    padding: 60px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 800px;
}

h1 {
    color: yellowgreen;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

h3, h4 {
    color: #ee6d51;
    margin-bottom: 15px;
}

p {
    color: #616161;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.btn-custom {
    background-color: yellowgreen;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #5dba4a;
}
